{{define "content"}}

<div class="container description">
    <div class="box">
        <div class="description-text">
            <h3>Learn a new skill!</h3>
            <p>
                SkIns was created for educational purposes to offer users free tutorials in various fields.<br>
                Our goal is to make learning fun and to help people learn new skills.
            </p>
        </div>
        <div class="right" >
            <img id="description-image" src="/static/school.jpg" alt="Be smarter!">
        </div>
    </div>

    <div class="flex-container">
        {{range $_, $course := .AvailableCourses}}{{with index $.CourseInfo $course}}
            <div class="box image-box">
                <div class="course-img">
                    <img class="course-image" src="/static/{{$course}}/{{.Picture}}" alt="{{$course}}">
                </div>
                <div class="course-description">
                    <h3 class="course-title">{{.Title}}</h3>
                    <p class="course-intro">{{.Description}}</p>
                    <div class="button-align">
                        <a href="/course/{{$course}}" class="button"><span>Sign up</span></a>
                    </div>
                </div>
            </div>
        {{end}}{{end}}
        {{range $_, $course := .StartedCourses}}{{with index $.CourseInfo $course}}
            <div class="box image-box">
                <div class="course-img">
                    <img class="course-image" src="/static/{{$course}}/{{.Picture}}" alt="{{$course}}">
                </div>
                <div class="course-description">
                    <h3 class="course-title">{{.Title}}</h3>
                    <p class="course-intro">{{.Description}}</p>
                    <div class="button-align">
                        <a href="/course/{{$course}}" class="button blue"><span>Continue</span></a>
                    </div>
                </div>
            </div>
        {{end}}{{end}}
    </div>
</div>

{{end}}
