{{define "layout"}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SkIns</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="origin-when-cross-origin" />
    <script type="text/javascript">
        setInterval(function() {
            var request = new XMLHttpRequest();
            request.open("GET", "/ping", true);
            request.send(null);
        }, 1000 * 60 * 5);
    </script>
</head>
<body>
    <nav>
        <div class="container">
            <a href="/" class="item logo">SkIns</a>

            {{with .User}}
                <div tabindex="4" id="usermenu" class="item right">
                    <img class="user-image-small" alt="user image" src="{{.Picture}}">
                    {{.Name}} &nbsp;&#9662;
                    <div class="submenu">
                        <a href="/logout" class="item">Log out</a>
                    </div>
                </div>
            {{else}}
                <a tabindex="4" href="/login" class="item right"><i class="fab fa-fw fa-facebook"></i> Log in</a>
            {{end}}

            <div class="menu">
                <a tabindex="0" href="/" class="item {{if eq "home" .Active}}active{{end}}">Learn</a>
                <div tabindex="1" id="coursemenu" class="item {{if eq "course" .Active}}active{{end}}">
                    <span>Courses &#9662;</span>
                    <div class="submenu">
                        {{range $i, $course := .StartedCourses}}
                            {{if not $i}}
                                <div class="submenu-section">YOUR COURSES</div>
                            {{end}}
                            {{with index $.Courses $course}}
                                <a href="/course/{{.Id}}" class="item">{{.Name}}</a>
                            {{end}}
                        {{end}}
                        {{range $i, $course := .AvailableCourses}}
                            {{if not $i}}
                                <div class="submenu-section">AVAILABLE COURSES</div>
                            {{end}}
                            {{with index $.Courses $course}}
                                <a href="/course/{{.Id}}" class="item">{{.Name}}</a>
                            {{end}}
                        {{end}}
                    </div>
                </div>
                <a tabindex="2" href="/profile" class="item {{if eq "profile" .Active}}active{{end}}">Profile</a>
            </div>
        </div>
    </nav>

    {{template "content" .}}
</body>
</html>

{{end}}
