{{define "content"}}

<div class="container">
    <div class="profile-body-container">
        <div class="grid-item">
            <div class="sticky-grid-item">
                <div id="profile-box-grid">
                    <div>
                        <img id="profile-picture" src="{{.User.Picture}}" alt="Profile picture">
                    </div>
                    <div id="brief-profile-description">
                        <span class="bigger">{{.User.Name}}</span> <br>
                        <small>here since {{.User.FirstSeen}}</small>
                    </div>
                    <div id="profile-description">
                        <hr class="white-hr">
                        <span class="big">
                            Achievements: 3 <small>out of</small> 10<br>
                            Courses: 1 <small>out of</small> 3<br>
                            Time spent learning: 2 h<br>
                            Longest streak: 1 days<br>
                            Title: Newbie
                        </span>
                        <hr class="white-hr">
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="box achievements-box">
                <h1 style="width: 100%;text-align: center;"> Achievements </h1>
                <hr class="black-hr">
                <div id="achievements-container">
                    <div class="achievement-box">
                        <img class="achievement-icon" src="images/icon.png" alt="achievement">
                        <div class="achievement-description">
                            <span class="big"><strong>Member of tha pack!</strong></span><br>
                            <small>Get started with any course.</small>
                            <br>
                            <div class="progress-bar">
                                <div class="percentage">100%</div>
                                <div class="bar100"></div>
                            </div>
                        </div>
                    </div>
                    <hr class="black-hr">
                    <div class="achievement-box">
                        <img class="achievement-icon" src="images/globe.png" alt="achievement">
                        <div class="achievement-description">
                            <span class="big"><strong>Spread the word!</strong></span><br>
                            <small>Share a course on Facebook.</small>
                            <br>
                            <div class="progress-bar">
                                <div class="percentage">100%</div>
                                <div class="bar100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="black-hr" style="margin-bottom: 1rem;">
            </div>
        </div>
    </div>
</div>

{{end}}
