{{define "content"}}

<div class="container">
    <div class="profile-body-container">
        <div class="grid-item">
            <div class="sticky-grid-item">
                <div id="profile-box-grid">
                    <div>
                        <img id="profile-picture" src="{{.User.Picture}}" alt="Profile picture">
                    </div>
                    <div id="brief-profile-description">
                        <span class="bigger">{{.User.Name}}</span> <br>
                        <small>here since {{.User.FirstSeen}}</small>
                    </div>
                    <div id="profile-description">
                        <hr class="white-hr">
                        <span class="big">
                            {{$achievements := dict "total" 0 "completed" 0}}
                            {{range $_, $achievement := .Achievements}}
                                {{$_ := set $achievements "total" ((index $achievements "total") | add1)}}
                                {{if ge $achievement.Completion 100}}
                                    {{$_ := set $achievements "completed" ((index $achievements "completed") | add1)}}
                                {{end}}
                            {{end}}
                            Achievements: {{$achievements.completed}} <small>out of</small> {{$achievements.total}}<br>
                            Courses: {{.UserStats.CompletedCourses}} <small>out of</small> {{.UserStats.StartedCourses}}<br>
                            Time spent learning: {{div .UserStats.TimeSpent 3600}} h<br>
                            Longest streak: {{.UserStats.LongestStreak}} {{.UserStats.LongestStreak | plural "day" "days"}}<br>
                            Title: Newbie
                        </span>
                        <hr class="white-hr">
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="box achievements-box">
                <h1 style="width: 100%;text-align: center;">Achievements</h1>
                <hr class="black-hr">
                <div id="achievements-container">
                    {{range $i, $achievement := .Achievements}}
                        {{if $i}}<hr class="black-hr">{{end}}
                        <div class="achievement-box">
                            <img class="achievement-icon" src="/static/achievements/{{$achievement.Icon}}" alt="achievement">
                            <div class="achievement-description">
                                <span class="big"><strong>{{$achievement.Title}}</strong></span><br>
                                <small>{{$achievement.Description}}</small>
                                <br>
                                <div class="progress-bar">
                                    <div class="percentage">{{$achievement.Completion}}%</div>
                                    <div class="bar" style="width: {{$achievement.Completion}}%"></div>
                                </div>
                            </div>
                        </div>
                    {{end}}
                </div>
                <hr class="black-hr" style="margin-bottom: 1rem;">
            </div>
        </div>
    </div>
</div>

{{end}}
