{{define "content"}}

<div class="task-container">
	<div class="grid-container-two-columns">
		<div tabindex="5" id="taskmenu">
			<div id="task-button">
				<span>&#9776; Tasks</span>
			</div>
			<div class="grey-box">
				{{$thisTask := dict}}
				{{range $_, $group := .Tasks}}
					<h5 style="color: black">{{$group.Title | upper}}</h5>
					<ul class="fa-ul task">
						{{range $i, $t := $group.Tasks}}
							{{if eq $t.Id $.TaskInfo.Id}}
								{{$_ := set $thisTask "index" ($i | add1)}}
								{{$_ := set $thisTask "group" $group.Title}}
							{{end}}
							<li>
								{{range $j, $u := (index $.CourseProgress $.CourseId)}}
									{{if eq $u.TaskId $t.Id}}
										{{if eq $u.TaskId $.TaskInfo.Id}}
											<i class="fa-li fas fa-dot-circle"></i>
										{{else if or (eq $u.Progress "not started") (eq $u.Progress "started")}}
                                            <i class="fa-li far fa-circle"></i>
										{{else if eq $u.Progress "completed"}}
											<i class="fa-li fas fa-check"></i>
										{{end}}
									{{end}}
								{{end}}
								<a href="{{.Id}}" class="task">Task {{$i | add1}} - {{.Title}}</a>
							</li>
						{{end}}
					</ul>
				{{end}}
			</div>
		</div>
		<div class="box" style="padding-top: 0.1rem; padding-left: 2rem; padding-right: 2rem;">
			<h1 class="task-title">#{{$thisTask.index}} - {{.TaskInfo.Title}}</h1>
			<h5 class="chapter">{{(index .Courses .CourseId).Name | upper}} - {{$thisTask.group | upper}}</h5>
			<div class="task-body">
				{{.TaskBody}}
			</div>
			<div class="grid-container-two-columns">
				<a href="/course/{{.CourseId}}/{{.TaskInfo.Id}}/next" class="button {{if not .NextTaskInfo}}blue{{end}}">
					<span>{{if .NextTaskInfo}}Continue{{else}}Learn more{{end}}</span>
				</a>
				{{if .NextTaskInfo}}
					<div><p>Next task: {{.NextTaskInfo.Title}}</p></div>
				{{end}}
			</div>
		</div>
	</div>
</div>

{{end}}
