{{define "content"}}

<div class="container">
	<div class="grid-container-two-columns">
		<div tabindex="5" id="taskmenu">
			<div id="task-button">
				<span>&#9776; Tasks</span>
			</div>
			<div class="grey-box">
				{{$thisId := .TaskInfo.Id}}
				{{$thisTask := dict}}
				{{range .Tasks}}
					{{$groupTitle := .Title | upper}}
					<h5 style="color: black;">{{$groupTitle}}</h5>
					<ul class="fa-ul task">
						{{range $i, $t := .Tasks}}
							<li><i class="fa-li {{if eq $t.Id $thisId}}{{$_ := set $thisTask "index" ($i | add1)}}{{$_ := set $thisTask "group" $groupTitle}}fas fa-dot-circle{{else if hasKey $thisTask "index"}}{{if not (hasKey $thisTask "nextTask")}}{{$_ := set $thisTask "nextTask" .}}{{end}}far fa-circle{{else}}fas fa-check{{end}}"></i><a href="{{.Id}}" class="task">Task {{$i | add1}} - {{.Title}}</a></li>
						{{end}}
					</ul>
				{{end}}
			</div>
		</div>
		<div class="box" style="padding-top: 0.1rem; padding-left: 2rem; padding-right: 2rem;">
			<h1 class="task-title">#{{$thisTask.index}} - {{.TaskInfo.Title}}</h1>
			<h5 class="chapter">EXAMPLE COURSE - {{$thisTask.group}}</h5>
			<div class="task-body">
				{{.TaskBody}}
			</div>
			{{if hasKey $thisTask "nextTask"}}
				<div class="grid-container-two-columns">
					<a href="{{$thisTask.nextTask.Id}}" class="button"><span>Continue</span></a>
					<div>
						<p>Next task: {{$thisTask.nextTask.Title}}</p>
					</div>
				</div>
			{{end}}
		</div>
	</div>
</div>

{{end}}
